
.icon-phone:before { content: '\e800'; } /* '' */
.icon-leaf:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-gift:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-location:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-basket:before { content: '\e807'; } /* '' */
.icon-heart:before { content: '\e808'; } /* '' */
.icon-eye:before { content: '\e809'; } /* '' */
.icon-resize-horizontal:before { content: '\e80a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
